/*STYLING NAVIGATION BAR  */

* {
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
  box-sizing: border-box;
}

.main {
  max-width: 1200px;
  margin: auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/covid1.jpg);
  height: 12vh;
  background-size: cover;
  background-position: center;
}

ul {
  float: right;
  list-style-type: none;
  margin-top: 32px;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  border: 1px solid solid transparent;
  transition: 0.6s ease;
}

ul li a:hover {
  background-color: white;
  color: black;
}

ul li a.active {
  background-color: white;
  color: black;
}

.logo img {
  margin-top: 12px;
  float: left;
  width: 120px;
  height: auto;
  transition: 0.4s ease;
}

.logo img:hover {
  background-color: lightpink;
  color: red;
}

/* Body styling */

.newsbody {
  float: left;
  display: inline-flex;
  justify-content: space-evenly;
}
.newstext {
  background-color: lightyellow;
  width: 50%;
  height: 100vh;
  padding-top: 15px;
  padding-left: 12px;
}

.newstext p {
  text-align: center;
  font-family: sans-serif;
}

.news {
  display: inline-block;
  box-sizing: border-box;
  background-color: burlywood;
  background-size: cover;
  position: sticky;
  margin-left: 80px;
  padding-left: 10px;
  width: 41%;
  height: 100vh;
  overflow: auto;
  border: 1px solid burlywood;
}
